@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.logo-icon {
  width: 50px auto;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/Fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Unbounded";
  src: url("/assets/Fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
}
body {
  font-family: "Montserrat";
  margin: 0; /* Añadido */
  padding: 0; /* Añadido */
  box-sizing: border-box;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

h1 {
  font-family: "Montserrat";
}

h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

.boton-contacto2 {
  width: 210px;
  height: 64px;
  background-color: #ffbf00;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  line-height: 64px;
  font-size: 18px;
  font-weight: bold;
  color: #0c0c09;
  text-decoration: none;
  margin-left: 60px;
  grid-row: 4;
  grid-column: 1;
  align-self: self-start;
}

.hamburger {
  width: 30px;
  height: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}
.hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #ffbf00;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#toggle {
  display: none;
}

#toggle:checked + .hamburger .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#toggle:checked + .hamburger .line:nth-child(2) {
  opacity: 0;
}

#toggle:checked + .hamburger .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.headerff {
  height: 70px;
}

.navbar-nav .nav-link {
  color: black; /* Color de texto negro */
  transition: color 0.3s; /* Transición de color suave */
}

/* Estilo para el hover de los enlaces */
.navbar-nav .nav-link:hover {
  color: #ffbf00; /* Color de texto amarillo al hacer hover */
}

/* Estilos para dispositivos móviles y tabletas */
@media (max-width: 768px) {
  .headerff {
    height: 100px; /* Altura del encabezado ajustada para dispositivos móviles */
  }
  .navbar-brand img {
    max-height: 60px !important; /* Tamaño máximo de la imagen del logo en dispositivos móviles */
  }
}
.seccion1 {
  display: grid;
  font-family: "Montserrat";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  min-height: 600px;
  background-color: #fff0c0;
  padding: 20px;
  gap: 20px;
}
.seccion1 #imagen2-seccion1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  grid-row: 1/span 4;
  grid-column: 1;
}
.seccion1 #imagen-seccion1 {
  max-width: 100%;
  padding-top: 80px;
  grid-row: 1;
  grid-column: 2;
}
.seccion1 h1 {
  font-size: 32px;
  font-family: "Unbounded";
  grid-column: 2;
  grid-row: 2;
}
.seccion1 h2 {
  font-size: 24px;
  font-family: "Unbounded";
  justify-self: left;
  color: #130808;
  grid-column: 2;
  grid-row: 3;
}
.seccion1 p {
  font-size: 18px;
  font-family: "Montserrat";
  color: #140a0a;
  grid-row: 4;
  grid-column: 2;
}
@media (max-width: 768px) {
  .seccion1 {
    grid-template-columns: 1fr;
  }
  .seccion1 #imagen2-seccion1,
  .seccion1 #imagen-seccion1 {
    grid-row: auto;
    grid-column: auto;
  }
  .seccion1 #imagen-seccion1 {
    grid-row: 1;
  }
  .seccion1 h1,
  .seccion1 h2,
  .seccion1 p {
    grid-column: 1;
  }
}

.seccion2-home section {
  width: 100%;
  font-family: "Unbounded";
  height: 600px;
  background-color: #2c2c2b;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0px;
  margin: 0 auto;
  padding: 0;
}
.seccion2-home section h3 {
  font-size: 30px;
  font-family: "Unbounded";
  align-self: center;
  grid-row: 2;
  grid-column: 1;
  color: #f0f0f0;
  padding-left: 60px;
}
.seccion2-home section p {
  color: #f0f0f0;
  align-self: center;
  margin-left: 60px;
  grid-row: 3;
  grid-column: 1;
}
.seccion2-home section img {
  width: 50%;
  height: auto;
  margin-top: 30px;
  max-width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  transition: transform 0.3s ease;
  grid-column: 2;
  grid-row: span 4;
  justify-self: center;
}
.seccion2-home section img:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .seccion2-home section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    text-align: center;
  }
  .seccion2-home section h3 {
    padding-left: 0;
  }
  .seccion2-home section p {
    margin-left: 0;
  }
  .seccion2-home section img {
    width: 80%;
    grid-column: auto;
    grid-row: auto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .seccion2-home section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    height: 600px;
    text-align: left;
  }
  .seccion2-home section h3 {
    padding-left: 60px;
  }
  .seccion2-home section p {
    margin-left: 60px;
  }
  .seccion2-home section p {
    margin-left: 40px;
    margin-right: 40px;
  }
  .seccion2-home section img {
    width: 50%;
    grid-column: 2;
    grid-row: span 4;
    margin-top: 30px;
  }
}

.boton-contacto2 {
  width: 210px;
  height: 64px;
  background-color: #ffbf00;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  line-height: 64px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #0c0c09;
  text-decoration: none;
  margin-left: 60px;
  grid-row: 4;
  grid-column: 1;
  align-self: self-start;
}
.boton-contacto2:hover {
  background-color: rgb(255, 123, 0);
  transform: scale(1.1);
}
.boton-contacto2 a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .boton-contacto2 {
    width: 80%;
    margin: 20px auto;
  }
  .seccion2-home section p {
    margin-left: 20px;
    margin-right: 20px;
  }
}
footer {
  background-color: #242420;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.logo-footer img {
  width: 400px;
  height: auto;
}

.lista-contacto-footer {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 40px 0px 20px 40px;
  position: relative;
  list-style: none;
}

.lista-contacto-footer li {
  margin-bottom: 10px;
}

.lista-contacto-footer li i {
  font-size: 23px;
  color: #ffbf00;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .logo-footer img {
    width: 80%; /* Tamaño relativo para dispositivos móviles */
    max-width: 300px; /* Máximo ancho */
    margin-bottom: 0px; /* Espaciado inferior */
  }
  .lista-contacto-footer {
    font-size: 16px;
    padding-left: 20px; /* Ajuste de padding para dispositivos móviles */
  }
  .lista-contacto-footer li i {
    font-size: 20px; /* Tamaño de ícono ajustado para dispositivos móviles */
  }
}
.contacto-background1 {
  background-color: #2c2c2b;
  padding: 20px;
  margin: 0 auto;
}
.contacto-background1 h1 {
  color: #ffbf00;
  padding: 0;
  margin-bottom: 20px;
}
.contacto-background1 h2 {
  font-size: 30px;
  text-align: center;
}

.contacto-background {
  background-color: #fff0c0;
  padding: 20px;
  margin-bottom: 0;
}
.contacto-background .form-contacto {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Regular";
}
.contacto-background .form-contacto input[type=submit] {
  font-family: "Montserrat-Regular";
  display: inline-block;
  width: 120px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  border: 0 solid #ffffff;
  background-color: #ffbf00;
  color: #353131;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .contacto-background .form-contacto input[type=submit] {
    width: 100%;
    max-width: 100%; /* Ancho máximo para mantenerlo responsivo */
    margin-top: 20px;
  }
}
.contacto-background .form-contacto input[type=submit]:hover {
  background-color: #ffcc00;
}

/*CSS Sección 1 subpage TU HISTORIA*/
.historia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  height: 700px;
  grid-gap: 0px;
  background-image: url(../assets/Imagenes/bnppalseccionhistoria.jpg);
  background-size: cover;
  background-position: center;
}
.historia h1 {
  align-content: center;
  grid-row: 2;
  grid-column: 1;
  align-self: flex-end;
  padding-left: 80px;
}
.historia h2 {
  align-content: center;
  grid-row: 3;
  grid-column: 1;
  align-self: center;
  justify-self: left;
  padding-left: 80px;
}
.historia p {
  align-content: center;
  grid-row: 4;
  grid-column: 1;
  align-self: center;
  padding-left: 80px;
  width: 500px;
}
@media screen and (max-width: 768px) {
  .historia {
    grid-template-columns: 1fr;
    height: 500px;
    padding: 20px;
    background-image: none;
    background-color: #e2e1de;
  }
  .historia h1,
  .historia h2,
  .historia p {
    grid-row: auto;
    grid-column: auto;
    align-self: center;
    padding-left: 0;
    text-align: center;
    width: auto;
  }
}

.sec-historia-2 section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 1200px;
  background-color: #fff0c0;
}
.sec-historia-2 section h3,
.sec-historia-2 section h4 {
  color: #242420;
  justify-self: center;
  font-size: 30px;
  padding: 60px 0px 30px 0px;
}
.sec-historia-2 section .video-seccion2-tuhistoria {
  width: 80%;
  height: 670px;
  margin: 0 auto;
}
.sec-historia-2 section .lista-tuhistoria li {
  justify-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  list-style: none;
  grid-row: 4;
}
.sec-historia-2 section .lista-tuhistoria li i {
  font-size: 25px;
  color: #f87e05;
}
.sec-historia-2 section .lista-tuhistoria .boton-contacto2 {
  justify-self: center;
  align-self: center;
  grid-row: 5;
}
@media screen and (max-width: 768px) {
  .sec-historia-2 section {
    height: 800px;
    padding: 20px;
  }
  .sec-historia-2 section h3,
  .sec-historia-2 section h4,
  .sec-historia-2 section .lista-tuhistoria li,
  .sec-historia-2 section .lista-tuhistoria .boton-contacto2 {
    grid-row: auto;
    justify-self: center;
    text-align: center;
  }
  .sec-historia-2 section .video-seccion2-tuhistoria {
    width: 100%;
    height: auto;
  }
}

/*CSS Sección 1 subpage PROYECTOS*/
.seccion1-proyectos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  height: 700px;
  grid-gap: 0px;
  background-image: url(../assets/Imagenes/bnppalseccionproyectos.jpg);
  background-size: cover;
  background-position: center;
}
.seccion1-proyectos h1 {
  font-size: 36px;
  grid-column: 2;
  grid-row: 2;
  padding-left: 30px;
  font-family: "Unbounded";
}
.seccion1-proyectos h2 {
  font-size: 30px;
  text-align: center;
  grid-column: 2;
  grid-row: 3;
  padding-left: 30px;
  justify-self: left;
}
.seccion1-proyectos p {
  grid-column: 2;
  grid-row: 4;
  padding-left: 30px;
  padding-bottom: 30px;
  width: 500px;
}
.seccion1-proyectos .img-responsive {
  display: none;
}
@media screen and (max-width: 768px) {
  .seccion1-proyectos {
    grid-template-columns: 1fr;
    height: 400px;
    padding: 20px;
    background-image: none;
    background-color: #fff0c0;
  }
  .seccion1-proyectos h1,
  .seccion1-proyectos h2,
  .seccion1-proyectos p {
    grid-column: 1;
    padding-left: 0;
    text-align: center;
    width: auto;
  }
  .seccion1-proyectos .img-responsive {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff0c0;
  }
}

.container-proyectos {
  height: 600px;
  background-color: #fff0c0;
}

h3 {
  font-size: 36px;
  font-family: "Unbounded";
  padding-bottom: 30px;
  padding-top: 60px;
}

img {
  width: 80%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.rounded:hover {
  transform: rotate(3deg);
}

.col-md-3 {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .container-proyectos {
    height: 2000px;
    padding: 20px;
    background-color: #fff0c0;
  }
  img {
    max-width: 50%;
  }
}
/*CSS Sección 1 subpage SERVICIOS*/
.seccion2 {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: auto auto auto;
  background-color: #f5d4a2;
  padding: 20px;
  gap: 20px;
  align-items: center;
}
@media (max-width: 768px) {
  .seccion2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 10px;
  }
}
.seccion2 #imagen1-seccionservicios {
  max-width: 100%;
  height: auto;
  width: 100%;
  grid-column: 1;
  grid-row: 1/span 4;
}
@media (max-width: 768px) {
  .seccion2 #imagen1-seccionservicios {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
  }
}
.seccion2 h1 {
  font-weight: bold;
  font-family: "Unbounded";
  padding-top: 100px;
  color: #181616;
  margin: 0;
  grid-column: 2;
  grid-row: 1;
}
@media (max-width: 768px) {
  .seccion2 h1 {
    font-size: 30px;
    grid-column: 1;
    grid-row: 2;
    padding-top: 0px;
  }
}
.seccion2 h2 {
  font-size: 20px;
  font-family: "Unbounded";
  color: #181717;
  margin: 0;
  text-align: left;
  grid-column: 2;
  grid-row: 2;
}
@media (max-width: 768px) {
  .seccion2 h2 {
    font-size: 16px;
    grid-column: 1;
    grid-row: 3;
  }
}
.seccion2 p {
  font-size: 16px;
  color: #141212;
  margin: 0;
  text-align: left;
  grid-column: 2;
  grid-row: 3;
}
@media (max-width: 768px) {
  .seccion2 p {
    font-size: 14px;
    grid-column: 1;
    grid-row: 4;
  }
}

.seccion2-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  background-color: #fff0c0;
  padding: 40px;
  gap: 20px;
  max-width: 1920px;
  margin: 0 auto;
}
.seccion2-servicios h3 {
  color: #242420;
  font-family: "Unbounded";
  font-size: 40px;
  grid-column: 1/span 2;
  grid-row: 1;
  margin-bottom: 20px;
  text-align: center;
}
.seccion2-servicios p {
  font-size: 18px;
  color: #555;
  grid-column: 1/span 2;
  grid-row: 2;
  text-align: left;
}
.seccion2-servicios .lista-iconos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  grid-column: 1/span 2;
  grid-row: 3;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.seccion2-servicios .lista-iconos li {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #333;
}
.seccion2-servicios .lista-iconos li i {
  font-size: 24px;
  color: #f87e05;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .seccion2-servicios {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    padding: 20px;
  }
  .seccion2-servicios h3 {
    font-size: 32px;
  }
  .seccion2-servicios p {
    font-size: 16px;
  }
  .seccion2-servicios .lista-iconos {
    grid-row: 3;
    grid-column: 1;
    justify-content: center;
    align-items: center;
  }
  .seccion2-servicios .boton-contacto2 {
    grid-row: 5;
    grid-column: 1;
  }
}

table {
  height: 200px;
  background-color: #ffffff;
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
}
table th,
table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
table th {
  background-color: #ffbf00;
}

h2 {
  text-align: center;
  padding-top: 30px;
}

.section-montserrat {
  font-family: "Montserrat-Regular";
  height: 400px; /* Altura para escritorio */
}
.section-montserrat h1 {
  font-size: 36px;
  font-family: "Unbounded";
  padding-bottom: 30px;
}
.section-montserrat h5 {
  font-size: 24px;
}
.section-montserrat p {
  font-size: 18px;
  font-family: "Montserrat";
  font-size: 16px;
  padding-bottom: 20px;
}
.section-montserrat .btn {
  font-size: 16px;
  font-family: "Montserrat";
  color: black;
}
@media (max-width: 1024px) {
  .section-montserrat {
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .section-montserrat {
    height: auto; /* Altura automática para dispositivos móviles */
  }
}

/*# sourceMappingURL=main.css.map */
