footer {
    background-color: #242420;
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .logo-footer img {
    width: 400px;
    height: auto;
  }
  
  .lista-contacto-footer {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 40px 0px 20px 40px;
    position: relative;
    list-style: none;
  }
  
  .lista-contacto-footer li {
    margin-bottom: 10px;
  }
  
  .lista-contacto-footer li i {
    font-size: 23px;
    color: #ffbf00;
    margin-right: 20px;
  }
  
  @media (max-width: 768px) {
    .logo-footer img {
      width: 80%; /* Tamaño relativo para dispositivos móviles */
      max-width: 300px; /* Máximo ancho */
      margin-bottom: 0px; /* Espaciado inferior */
    }
  
    .lista-contacto-footer {
      font-size: 16px;
      padding-left: 20px; /* Ajuste de padding para dispositivos móviles */
    }
  
    .lista-contacto-footer li i {
      font-size: 20px; /* Tamaño de ícono ajustado para dispositivos móviles */
    }
  }