.headerff {
  height: 90px;
}

.navbar-nav .nav-link {
  color: black; /* Color de texto negro */
  transition: color 0.3s; /* Transición de color suave */
}

/* Estilo para el hover de los enlaces */
.navbar-nav .nav-link:hover {
  color: #ffbf00; /* Color de texto amarillo al hacer hover */
}

/* Estilos para dispositivos móviles y tabletas */
@media (max-width: 768px) {
  .headerff {
    height: 100%; /* Altura del encabezado ajustada para dispositivos móviles */
  }

  .navbar-brand img {
    max-height: 110px !important; /* Tamaño máximo de la imagen del logo en dispositivos móviles */
  }
}

