// Estilos
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: $background-color2;
  font-family: $font-family;
  position: fixed;
  top: 0;
  right: -200px;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;

  .nav-item {
    margin: 10px 0;
    color: #ffffff;

    .nav-link {
      color: #ffffff;
      text-decoration: none;
      padding: 10px 15px;
      display: block;
      transition: color 0.3s ease;

      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

#toggle:checked + .hamburger + .nav-links {
  right: 0;
}

.close-btn {
  color: $primary-color;
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 24px;
  cursor: pointer;
  z-index: 3;

  &:hover {
    color: #fff; /* Cambia de color al pasar el ratón */
  }
}