.boton-contacto2 {
    width: 210px;
    height: 64px;
    background-color: #ffbf00;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    line-height: 64px;
    font-size: 18px;
    font-weight: bold;
    color: #0c0c09;
    text-decoration: none;
    margin-left: 60px;
    grid-row: 4;
    grid-column: 1;
    align-self: self-start;
}
