// components/_section2-home.scss

.seccion2-home section {
    width: 100%;
    font-family: $font-family-unbounded;
    height: 600px;
    background-color: #2c2c2b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0px;
    margin: 0 auto;
    padding: 0;

    h3 {
        font-size: 30px;
        font-family: $font-family-unbounded;
        align-self: center;
        grid-row: 2;
        grid-column: 1;
        color: #f0f0f0;
        padding-left: 60px;
    }

    p {
        color: #f0f0f0;
        align-self: center;
        margin-left: 60px;
        grid-row: 3;
        grid-column: 1;
    }

    img {
        width: 50%;
        height: auto;
        margin-top: 30px;
        max-width: 100%;
        border-radius: 8px;
        margin-top: 20px;
        transition: transform 0.3s ease;
        grid-column: 2;
        grid-row: span 4;
        justify-self: center;
        &:hover {
            transform: scale(1.05);
          }

    }

    

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
        text-align: center;

        h3 {
            padding-left: 0;
        }

        p {
            margin-left: 0;
        }

        img {
            width: 80%;
            grid-column: auto;
            grid-row: auto;
            margin-top: 20px;
        }
    }
    

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        height: 600px;
        text-align: left;

        h3 {
            padding-left: 60px;
        }

        p {
            margin-left: 60px;
        }

        p {
            margin-left: 40px;
            margin-right: 40px;
        }

        img {
            width: 50%;
            grid-column: 2;
            grid-row: span 4;
            margin-top: 30px;
        }
    }
}