.seccion1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    min-height: 600px;
    background-color: #fff0c0;
    padding: 20px;
    gap: 20px;
}

#imagen2-seccion1 {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    grid-row: 1 / span 4;
    grid-column: 1;
}

#imagen-seccion1 {
    max-width: 100%;
    padding-top: 80px;
    grid-row: 1;
    grid-column: 2;
}

.seccion1 h1 {
    font-size: 32px;
    grid-column: 2;
    grid-row: 2;
}

.seccion1 h2 {
    font-size: 24px;
    justify-self: left;
    color: #555;
    grid-column: 2;
    grid-row: 3;
}

.seccion1 p {
    font-size: 18px;
    color: #333;
    grid-row: 4;
    grid-column: 2;
}

@media (max-width: 768px) {
    .seccion1 {
        grid-template-columns: 1fr;
    }
    
    #imagen2-seccion1,
    #imagen-seccion1 {
        grid-row: auto;
        grid-column: auto;
    }
    
    #imagen-seccion1 {
        grid-row: 1;
    }

    .seccion1 h1,
    .seccion1 h2,
    .seccion1 p {
        grid-column: 1;
    }
}