.section-montserrat {
    font-family: $font-family;

    h1 {
        font-size: 36px;
        /* Otros estilos para el título h1 */
    }

    h5 {
        font-size: 24px;
        /* Otros estilos para los subtítulos h5 */
    }

    p {
        font-size: 18px;
        /* Otros estilos para los párrafos */
    }

    .btn {
        font-size: 16px;
        /* Otros estilos para los botones */
    }
}