// Variables
$font-family: 'Montserrat-Regular';
$primary-color: #ffbf00;
$background-color: #333;
$link-hover-color: #ffcc00;

// Estilos
.contacto-background1 {
  h1 {
    color: $primary-color;
    padding: 0;
    margin-bottom: 20px;
  }
  background-color: #2c2c2b;
  padding: 20px;
  margin: 0 auto;

  h2 {
    font-size: 30px;
    text-align: center;
  }
}

.contacto-background {
  background-color: #fff0c0;
  padding: 20px;
  margin-bottom: 0;

  .form-contacto {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;

    input[type="submit"] {
      font-family: $font-family;
      display: inline-block;
      width: 120px;
      height: 60px;
      padding: 10px;
      border-radius: 10px;
      border: 0 solid #ffffff;
      background-color: $primary-color;
      color: #353131;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 100%; /* Ancho máximo para mantenerlo responsivo */
        margin-top: 20px;
      }

      &:hover {
        background-color: $link-hover-color;
      }
    }
  }
}