 /*CSS Sección 1 subpage TU HISTORIA*/

 // Estilos para .historia
.historia {
    display: grid;
    grid-template-columns: 1fr 1fr; // Dos columnas de igual ancho
    grid-template-rows: repeat(6, 1fr);
    height: 700px;
    grid-gap: 0px; // Espacio entre las columnas
    background-image: url(../assets/Imagenes/bnppalseccionhistoria.jpg);
    background-size: cover;
    background-position: center;
  
    h1 {
      align-content: center;
      font-family: $font-family-unbounded;
      grid-row: 2;
      grid-column: 1;
      align-self: flex-end;
      padding-left: 80px;
    }
  
    h2 {
      align-content: center;
      font-family: $font-family-unbounded;
      font-size: 25px;
      grid-row: 3;
      grid-column: 1;
      align-self: center;
      justify-self: left;
      padding-left: 80px;
    }
  
    p {
      align-content: center;
      grid-row: 4;
      grid-column: 1;
      align-self: center;
      padding-left: 80px;
      width: 500px;
    }
  
    // Media query para hacerlo responsive
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr; // Cambiamos a una sola columna
      height: 350px; // Altura automática para adaptarse al contenido
      padding: 20px; // Añadimos un espacio alrededor del contenido
      background-image: none; // Quitamos la imagen de fondo
      background-color: #ffbf00; // Color de fondo para tablets y móviles
  
      h1,
      h2,
      p {
        grid-row: auto; // Reiniciamos el grid-row a su valor por defecto
        grid-column: auto; // Reiniciamos el grid-column a su valor por defecto
        align-self: center;
        padding-left: 0; // Quitamos el padding izquierdo
        text-align: center; // Centramos el texto
        width: auto; // Ancho automático para adaptarse al contenedor
      }
    }
  }
  
  // Estilos para .sec-historia-2 section
  .sec-historia-2 section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 1200px;
    background-color: #fff0c0;
  
    h3{
      font-family: $font-family-unbounded;
      text-align: center;
    }
    h4 {
      color: #242420;
      text-align: center;
      font-family: $font-family-unbounded;
      font-size: 30px;
      padding: 60px 0px 30px 0px;
    }
  
    .video-seccion2-tuhistoria {
      width: 80%;
      height: 670px;
      margin: 0 auto;
    }
  
    .lista-tuhistoria li {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      list-style: none;
      grid-row: 4;
  
      i {
        font-size: 25px;
        color: #f87e05;
      }
    }
  
    .btn-warning {
      padding: 5px 10px; /* Ajustar el padding para un botón más pequeño */
      font-size: 30px; /* Tamaño de fuente más pequeño */
  }
  
  .btn-sm {
      padding: 5px 10px;
      font-size: 25px;
  }
  
  .align-center {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; /* Añadir también el alineamiento de texto al centro */
  }

    
  
    // Media query para hacerlo responsive
    @media screen and (max-width: 768px) {
      height: 800px; // Altura automática para adaptarse al contenido
      padding: 20px; // Añadimos un espacio alrededor del contenido
  
      h3,
      h4,
      .lista-tuhistoria li,
      .lista-tuhistoria .boton-contacto2 {
        grid-row: auto; // Reiniciamos el grid-row a su valor por defecto
        justify-self: center;
        text-align: center;
      }
  
      .video-seccion2-tuhistoria {
        width: 100%; // Cambiamos el ancho al 100%
        height: auto; // Altura automática para mantener la proporción
      }
    }
  }