/*CSS Sección 1 subpage PROYECTOS*/

// Estilos para .seccion1-proyectos
.seccion1-proyectos {
  display: grid;
  grid-template-columns: 1fr 1fr; // Dos columnas de igual ancho
  grid-template-rows: repeat(6, 1fr);
  height: 700px;
  grid-gap: 0px; // Espacio entre las columnas
  background-image: url(../assets/Imagenes/bnppalseccionproyectos.jpg);
  background-size: cover;
  background-position: center;

  h1 {
    font-size: 36px;
    grid-column: 2;
    grid-row: 2;
    padding-left: 30px;
    font-family: $font-family-unbounded;
  }

  h2 {
    font-size: 30px;
    text-align: center;
    grid-column: 2;
    grid-row: 3;
    padding-left: 30px;
    justify-self: left;
  }

  p {
    grid-column: 2;
    grid-row: 4;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 500px;
  }

  .img-responsive {
    display: none; // Ocultamos la imagen por defecto
  }

  // Media query para hacerlo responsive
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr; // Cambiamos a una sola columna
    height: 400px; // Altura automática para adaptarse al contenido
    padding: 20px; // Añadimos un espacio alrededor del contenido
    background-image: none; // Quitamos la imagen de fondo
    background-color: #fff0c0;

    h1,
    h2,
    p {
      grid-column: 1; // Colocamos todo en la primera columna
      padding-left: 0;
      text-align: center; // Centramos el texto
      width: auto; // Ancho automático para adaptarse al contenedor
    }

    .img-responsive {
      display: block; // Mostramos la imagen en dispositivos móviles
      width: 100%; // Ancho del 100%
      max-width: 500px; // Ancho máximo para controlar el tamaño
      margin: 20px auto; // Margen superior e inferior
      background-color: #fff0c0;
    }
  }
  
}
  
  // Estilos para .seccion2-proyectos
  
  .container-proyectos {
    height: 600px;
    background-color: #fff0c0;
  }
  
  h3 {
    font-size: 36px;
    font-family: $font-family-unbounded;
    padding-bottom: 30px;
    padding-top: 60px;
  }
  
  img {
    width: 80%; // Usaremos un ancho del 100% del contenedor
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  
  }

  .rounded {
    &:hover {
      transform: rotate(3deg); // Rotar 3 grados a la derecha en el hover
    }
  }
  
  .col-md-3 {
    margin-bottom: 20px; // Añade margen inferior para separar las columnas
  }

  @media screen and (max-width: 768px) {
    .container-proyectos {
      height: 2000px;
      padding: 20px; // Espaciado interno para dispositivos móviles
      background-color: #fff0c0;

    }
  
    img {
      max-width: 50%; 
    }
  }
  