/*CSS Sección 1 subpage SERVICIOS*/

.seccion2 {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: auto auto auto;
  background-color: #f5d4a2;
  padding: 20px;
  gap: 20px;
  align-items: center;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 10px;
  }

  #imagen1-seccionservicios {
    max-width: 100%;
    height: auto;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / span 4;

    @media (max-width: 768px) {
      grid-column: 1;
      grid-row: 1;
      justify-self: center;
    }
  }

  h1 {
    font-weight: bold;
    font-family: $font-family-unbounded;
    padding-top: 100px;
    color: #181616;
    margin: 0;
    grid-column: 2;
    grid-row: 1;

    @media (max-width: 768px) {
      font-size: 30px;
      grid-column: 1;
      grid-row: 2;
      padding-top: 0px;
    }
  }

  h2 {
    font-size: 20px;
    font-family: $font-family-unbounded;
    color: #181717;
    margin: 0;
    text-align: left;
    grid-column: 2;
    grid-row: 2;

    @media (max-width: 768px) {
      font-size: 16px;
      grid-column: 1;
      grid-row: 3;
    }
  }

  p {
    font-size: 16px;
    color: #141212;
    margin: 0;
    text-align: left;
    grid-column: 2;
    grid-row: 3;

    @media (max-width: 768px) {
      font-size: 14px;
      grid-column: 1;
      grid-row: 4;
    }
  }
}

.seccion2-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  background-color: #fff0c0;
  padding: 40px;
  gap: 20px;
  max-width: 1920px;
  margin: 0 auto;

  h3 {
    color: #242420;
    font-family: $font-family-unbounded;
    font-size: 40px;
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    font-size: 18px;
    color: #555;
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: left;
  }

  .lista-iconos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-column: 1 / span 2;
    grid-row: 3;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      color: #333;

      i {
        font-size: 24px;
        color: #f87e05;
        margin-right: 10px;
      }
    }
  }



  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    padding: 20px;

    h3 {
      font-size: 32px;
    }

    p {
      font-size: 16px;
    }

    .lista-iconos {
      grid-row: 3;
      grid-column: 1;
      justify-content: center;
      align-items: center;
    }

    .boton-contacto2 {
      grid-row: 5;
      grid-column: 1;
    }
  }
}

table {
  height: 200px;
  background-color: #ffffff;
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;

  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #ffbf00;
  }
}

h2 {
  text-align: center;
  padding-top: 30px;
}
