@font-face {
    font-family: "Montserrat";
    src: url("/assets/Fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Unbounded";
    src: url("/assets/Fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
}