@font-face {
    font-family: "Montserrat";
    src: url(/assets/Fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: "Unbounded-VariableFont_wght";
    src: url(/assets/Fonts/Unbounded-VariableFont_wght.ttf);
}