body {
    font-family: "Montserrat";
    margin: 0; /* Añadido */
    padding: 0; /* Añadido */
    box-sizing: border-box;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */

}

h1{
    font-family: "Montserrat";
}
h2, h3, h4, h5, h6{
    font-family: "Montserrat";
}
