body {
    font-family: 'Montserrat', sans-serif;
    margin: 0; /* Añadido */
    padding: 0; /* Añadido */
    box-sizing: border-box;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */

}



.hamburger {
    width: 30px;
    height: 20px;
    position: fixed;
    top: 20px;
    right: 20px; /* Ubicación en el lado derecho */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #ffbf00; /* Color del icono */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#toggle {
    display: none;
}

#toggle:checked + .hamburger .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#toggle:checked + .hamburger .line:nth-child(2) {
    opacity: 0;
}

#toggle:checked + .hamburger .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    right: -200px; /* Oculta el menú al principio */
    height: 100vh;
    width: 200px; /* Ancho del menú */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease; /* Transición suave al abrir/cerrar */
}

.nav-item {
    margin: 10px 0;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffcc00;
}

#toggle:checked + .hamburger + .nav-links {
    right: 0; /* Muestra el menú cuando el checkbox está marcado */
}

.close-btn {
    color: #ffbf00; /* Color de la "x" de cierre */
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
    z-index: 3;
}

.close-btn:hover {
    color: #fff; /* Cambia de color al pasar el ratón */
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav-links {
        position: static;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        transform: translateY(0);
        right: 0; /* Alinea el menú a la derecha en pantallas grandes */
        background-color: transparent; /* Fondo blanco en versión de escritorio */
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        padding: 15px;
        background-color: #fff; /* Fondo blanco para los enlaces */
        color: #333; /* Color de texto */
        border-radius: 5px; /* Bordes redondeados */
    }

    .nav-link:hover {
        background-color: #ffbf00; /* Cambia de color al pasar el ratón */
        color: #fff; /* Cambia de color de texto al pasar el ratón */
    }
}

/* CSS Sección HOME */
.seccion1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; /* El tamaño de las filas se ajustará automáticamente */
    min-height: 600px;
    background-color: #fff0c0;
    padding: 20px;
    gap: 20px; /* Espacio entre las columnas */
}

#imagen2-seccion1 {
    width: 100%;
    height: auto; /* La altura se ajustará automáticamente */
    max-width: 100%; /* Para evitar que la imagen se agrande más allá de su tamaño natural */
    object-fit: cover; /* Ajusta la imagen para cubrir el espacio sin deformar */
    grid-row: 1 / span 4; /* La imagen ocupa las filas 1 a 4 */
    grid-column: 1; /* La imagen está en la primera columna */
}

#imagen-seccion1 {
    max-width: 100%;
    padding-top: 80px;
    grid-row: 1
    grid-column: 2; 
}

.seccion1 h1 {
    font-size: 32px;
    grid-column: 2;
    grid-row: 2; /* El título está en la primera fila */
}

.seccion1 h2 {
    font-size: 24px;
    color: #555;
    grid-column: 2;
    grid-row: 3; /* El subtítulo está en la segunda fila */
}

.seccion1 p {
    font-size: 18px;
    color: #333;
    grid-row: 4; /* El párrafo está en la tercera fila */
    grid-column: 2;
}

@media (max-width: 768px) {
    .seccion1 {
        grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos móviles */
    }
    
    #imagen2-seccion1,
    #imagen-seccion1 {
        grid-row: auto; /* Deja que las imágenes floten automáticamente */
        grid-column: auto; /* Deja que las imágenes floten automáticamente */
    }
    
    #imagen-seccion1 {
        grid-row: 1; /* El logo está en la primera fila */
    }

    .seccion1 h1,
    .seccion1 h2,
    .seccion1 p {
        grid-column: 1; /* Los títulos y párrafos ocupan toda la fila en móviles */
    }
}

/* CSS Sección banner 2 de home */
.seccion2-home section {
    width: 100%;
    height: 600px;
    background-color: #2c2c2b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0px;
    margin: 0 auto;
    padding: 0;
}

.seccion2-home h3 {
    font-size: 30px;
    align-self: center;
    grid-row: 2;
    grid-column: 1;
    color: #f0f0f0;
    padding-left: 60px;
}

.seccion2-home section p {
    color: #f0f0f0;
    align-self: center;
    margin-left: 60px;
    grid-row: 3;
    grid-column: 1;
}

.seccion2-home img {
    width: 50%;
    height: auto;
    margin-top: 30px;
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
    transition: transform 0.3s ease;
    grid-column: 2;
    grid-row: span 4;
    justify-self: center;
}

.seccion2-home img:hover {
    transform: scale(1.05);
}

.boton-contacto2 {
    width: 210px;
    height: 64px;
    background-color: #ffbf00;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    line-height: 64px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #0c0c09;
    text-decoration: none;
    margin-left: 60px;
    grid-row: 4;
    grid-column: 1;
    align-self: self-start;
}

.boton-contacto2:hover {
    background-color: rgb(255, 123, 0);
    transform: scale(1.1);
}

.boton-contacto2:hover a {
    color: white;
}

.boton-contacto2 a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .seccion2-home section {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
        text-align: center;
    }

    .seccion2-home h3 {
        padding-left: 0;
    }

    .seccion2-home section p {
        margin-left: 0;
    }

    .seccion2-home img {
        width: 80%;
        grid-column: auto;
        grid-row: auto;
        margin-top: 20px;
    }

    .boton-contacto2 {
        width: 80%;
        margin: 20px auto;
    }

    .seccion2-home section p {
        margin-left: 20px; /* Agregamos un poco de margen a la izquierda */
        margin-right: 20px; /* y a la derecha */
    }
}

/* Estilos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .seccion2-home section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        height: 600px;
        text-align: left;
    }

    .seccion2-home h3 {
        padding-left: 60px;
    }

    .seccion2-home section p {
        margin-left: 60px;
    }

    .seccion2-home section p {
        margin-left: 40px; /* Ajustamos un poco más para tabletas */
        margin-right: 40px;
    }

    .seccion2-home img {
        width: 50%;
        grid-column: 2;
        grid-row: span 4;
        margin-top: 30px;
    }

    .boton-contacto2 {
        width: 210px;
        margin-left: 60px;
    }
}

/* CSS Sección footer web home */
footer {
    background-color: #242420;
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.lista-contacto-footer {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 40px 0px 20px 40px; /* Ajustado el padding */
    position: relative;
    list-style: none;
}

.lista-contacto-footer li i {
    font-size: 23px;
    color: #ffbf00;
    margin-right: 20px;
}

.lista-contacto-footer li {
    margin-bottom: 10px;
}
    
/*CSS Sección 1 subpage SERVICIOS*/

.seccion2 {
    display: grid;
    grid-template-columns: 40% 1fr; /* Dos columnas: la imagen al 40% y el contenido */
    grid-template-rows: auto auto auto; /* Tres filas para cada elemento */
    background-color: #f5d4a2; /* Cambia el color de fondo */
    padding: 20px;
    gap: 20px; /* Espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */

    /* Ajustes para dispositivos móviles */
    @media (max-width: 768px) {
        grid-template-columns: 1fr; /* Una sola columna para dispositivos móviles y tablets */
        grid-template-rows: auto auto auto auto; /* Cuatro filas */
        padding: 10px; /* Reduce el padding en dispositivos móviles y tablets */
    }
}

#imagen1-seccionservicios {
    max-width: 100%;
    height: auto;
    width: 100%; /* Ancho al 100% del contenedor */
    grid-column: 1; /* Coloca la imagen en la columna 1 */
    grid-row: 1 / span 4; /* Ocupa desde la fila 1 hasta la 4 */

    /* Ajustes para dispositivos móviles y tablets */
    @media (max-width: 768px) {
        grid-column: 1; /* Coloca la imagen en la única columna */
        grid-row: 1; /* Ocupa solo la fila 1 */
        justify-self: center; /* Centra la imagen */
    }
}

.seccion2 h1 {
    font-weight: bold;
    padding-top: 100px;
    color: #181616;
    margin: 0; /* Elimina el margen para los títulos */
    grid-column: 2; /* En la segunda columna */
    grid-row: 1; /* En la primera fila */

    /* Ajustes para dispositivos móviles y tablets */
    @media (max-width: 768px) {
        font-size: 30px;
        grid-column: 1; /* En la única columna */
        grid-row: 2; /* En la segunda fila */
        padding-top: 0px;
    }
}

.seccion2 h2 {
    font-size: 20px;
    color: #181717;
    margin: 0;
    text-align: left; /* Alinea a la izquierda */
    grid-column: 2; /* En la segunda columna */
    grid-row: 2; /* En la segunda fila */

    /* Ajustes para dispositivos móviles y tablets */
    @media (max-width: 768px) {
        font-size: 16px;
        grid-column: 1; /* En la única columna */
        grid-row: 3; /* En la tercera fila */
    }
}

.seccion2 p {
    font-size: 16px;
    color: #141212;
    margin: 0; /* Elimina el margen para el párrafo */
    text-align: left; /* Alinea a la izquierda */
    grid-column: 2; /* En la segunda columna */
    grid-row: 3; /* En la tercera fila */

    /* Ajustes para dispositivos móviles y tablets */
    @media (max-width: 768px) {
        font-size: 14px;
        grid-column: 1; /* En la única columna */
        grid-row: 4; /* En la cuarta fila */
    }
}
 /*CSS Sección banner 2 de subpage SERVICIOS*/

 .seccion2-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    grid-template-rows: auto auto auto auto auto; /* Cinco filas con contenido */
    background-color: #fff0c0; /* Color de fondo */
    padding: 40px;
    gap: 20px; /* Espacio entre elementos */
    max-width: 1920px; /* Ancho máximo para centrar en pantallas anchas */
    margin: 0 auto; /* Centrar en el contenedor */
}

.seccion2-servicios h3 {
    color: #242420;
    font-size: 40px;
    grid-column: 1 / span 2; /* Ocupa las dos columnas */
    grid-row: 1; /* En la primera fila */
    margin-bottom: 20px; /* Espacio inferior */
    text-align: center; /* Centrar el texto */
}

.seccion2-servicios p {
    font-size: 18px;
    color: #555;
    grid-column: 1 / span 2; /* Ocupa las dos columnas */
    grid-row: 2; /* En la segunda fila */
    text-align: left; /* Centrar el texto */
}

.lista-iconos {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna para los íconos */
    gap: 10px; /* Espacio entre elementos */
    grid-column: 1 / span 2; /* Ocupa las dos columnas */
    grid-row: 3; /* En la tercera fila */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 0;
    margin: 0;
}

.lista-iconos li {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #333;
}

.lista-iconos li i {
    font-size: 24px;
    color: #f87e05;
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}


.boton-contacto2  {
    text-decoration: none;
    font-size: 18px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.boton-contacto2 a {
    color:#242420
}

.boton-contacto2 a:hover {
}

/* Media query para dispositivos móviles y tablets */
@media (max-width: 768px) {
    .seccion2-servicios {
        grid-template-columns: 1fr; /* Una sola columna para dispositivos móviles y tablets */
        grid-template-rows: auto auto auto auto auto; /* Cinco filas con contenido */
        padding: 20px; /* Espaciado interno */
    }

    .seccion2-servicios h3 {
        font-size: 32px;
    }

    .seccion2-servicios p {
        font-size: 16px;
    }

    .lista-iconos {
        grid-row: 3; /* En la tercera fila */
        grid-column: 1; /* En la única columna */
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
    }

    .boton-contacto2 {
        grid-row: 5; /* En la quinta fila */
        grid-column: 1; /* En la única columna */
    }
}
    /* Tabla seccion servicios */

    table {
        height: 200px;
        background-color: #ffffff;
        width: 50%;
        border-collapse: collapse;
        margin: 20px auto;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color:#ffbf00
    }

    h2 {
        text-align: center;
        padding-top: 30px;
    }
     
      
     /*CSS Sección 1 subpage TU HISTORIA*/

    .historia {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        height: 700px;
        grid-gap: 0px; /*se Espacio entre las columnas */
        background-image: url(../assets/Imagenes/bnppalseccionhistoria.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .historia h1 {
        align-content: center;
        grid-row: 2;
        grid-column: 1;
        align-self: flex-end;
        padding-left: 80px;
    }

    .historia h2 {
        align-content: center;
        grid-row: 3;
        grid-column: 1;
        align-self: center;
        padding-left: 80px;
    }

    .historia p {
        align-content: center;
        grid-row: 4;
        grid-column: 1;
        align-self: center;
        padding-left: 80px;
        width: 500px;
    }

     /*CSS Sección 2 subpage TU HISTORIA*/


    .sec-historia-2 section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        height: 1200px; 
        background-color: #fff0c0;
    
    }

    .sec-historia-2 section h3{
        color: #242420;
        justify-self: center;
        font-size: 30px;
        padding: 60px 0px 30px 0px;
        grid-row: 1;
    
    }

    .sec-historia-2 section h4{
        color: #242420;
        justify-self: center;
        font-size: 30px;
        padding: 60px 0px 30px 0px;
        grid-row: 3;
        
    }


    .video-seccion2-tuhistoria {
        width: 80%; 
        height: 670px;
        margin: 0 auto; 
    }

    .lista-tuhistoria li {
        justify-items: center;
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
        list-style: none; 
        grid-row: 4;
    }
    
    .lista-tuhistoria li i {
        font-size: 25px;
        color: #f87e05;
    }

    .lista-tuhistoria .boton-contacto2{
        justify-self: center;
        align-self: center;
        grid-row: 5;
    }



     /*CSS Sección 1 subpage PROYECTOS*/

     .seccion1-proyectos{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        height: 700px;
        grid-gap: 0px; /*se Espacio entre las columnas */
        background-image: url(../assets/Imagenes/bnppalseccionproyectos.jpg);
        background-size: cover;
        background-position: center;
     }            


     .seccion1-proyectos h1 {
        font-size: 36px; 
        grid-column: 2;
        grid-row: 2;
        padding-left: 30px;
    }

    .seccion1-proyectos h2 {
        font-size: 30px; 
        grid-column: 2;
        grid-row: 3;
        padding-left: 30px;
    }

    .seccion1-proyectos p {
        grid-column: 2;
        grid-row: 4;
        padding-left: 30px;
        width: 500px;
    }

    /*CSS Sección 2 subpage proyectos*/

    .seccion2-proyectos {
        display: grid;
        width: 100%;
        margin: 30px auto;
        height: 600px;
        background-color: #fff0c0;
    }
    
    .seccion2-proyectos {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    .seccion2-proyectos h3 {
        font-size: 30px;
        color: #242420;
        padding: 30px 0px 30px 0px
    }
    .seccion2-proyectos h4 {
        color: #242420;
        font-size: 20px;
        padding-bottom: 30px ;
    }
    
    #parrafo-seccion2-proyectos {
        max-width: 600px;
        margin: 0 auto;
    }

   .cuadros-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #fff0c0;
    justify-content: center;

   }

   .cuadros-grid article {
    background-color: #ccc7c2;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 20px; /* Espacio a la derecha de cada artículo */
    padding-left: 10px;
}
    

    
    /*CSS subpage contacto*/

    .contacto-background1 h1 {
        color: #ffbf00; 
        padding: 0px;
        margin-bottom: 20px;
    }

    .contacto-background1 {
        background-color: #2c2c2b; 
        padding: 20px;
        margin: 0px auto;
    }

    .contacto-background  {
        background-color: #fff0c0; 
        padding: 20px;
        margin-bottom: 0px;
    }

    .contacto-background h2 {
        font-size: 30px;
        text-align: center;
    }

    .form-contacto {
        width: 100%;
        padding: 0px;
        margin: 0px;
        box-sizing: none;
        font-family: 'Montserrat', sans-serif;
    }

    input[type="submit"] {
        font-family: "Montserrat", sans-serif;
        display: inline-block;
        width: 120px;
        height: 60px;
        padding: 10px 10px;
        padding-bottom: 10px;
        padding-top: 15px;
        border-radius: 10px;
        border: 0px solid #ffffff;
        background-color: #ffbf00;
        color: #353131;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s ease-in-out
        
    }
    
    body {
        margin: 0;
        padding: 0;
    }

    


   


    